node_modules/
bower_components/
dist/manifest.json
dist/index.html
dist/Component.js
dist/Component-preload.js
dist/view/App.view.xml
dist/test/unit/unitTests.qunit.html
dist/test/unit/model/formatter.js
dist/test/unit/controller/App.controller.js
dist/test/unit/allTests.js
dist/test/integration/pages/Common.js
dist/test/integration/pages/App.js
dist/test/integration/opaTests.qunit.html
dist/test/integration/navigationJourney.js
dist/test/integration/AllJourneys.js
dist/model/models.js
dist/model/formatter.js
dist/i18n/i18n.properties
dist/css/style.css
dist/controller/App.controller.js
